@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap";
body {
font-family:"open sans",sans-serif;
font-size:16px;
font-weight:300;
color:#555;
padding:0;
margin:0;
}
#page {
max-width:1200px;
margin:0 auto;
position:relative;
}
.text-link {
color:#007eff;
}
.text-link:visited {
color:#65b1ff;
}
.btn {
font-size:1.2em;
text-decoration:none;
color:#fff;
border:1px solid #fff;
padding:4px 15px;
transition:ease background-color .5s;
}
.btn:hover {
background-color:rgba(0,0,0,.3);
}
header {
height:430px;
background:#cf0004 url(../images/banner_1200.jpg) no-repeat center bottom;
position:relative;
}
header a.logo {
position:absolute;
display:block;
width:160px;
height:66px;
background:url(../images/logo.svg) no-repeat 0 0;
background-size:contain;
top:15px;
left:20px;
z-index:1;
}
header a.logo span {
display:none;
}
header div.hero {
position:absolute;
width:42%;
top:130px;
left:55%;
}
header div.hero h1 {
line-height:1em;
margin:0 0 30px;
color:#fff;
}
section {
padding:0 30px;
}
section::after {
content:'';
display:block;
clear:both;
}
section.main {
margin-top:20px;
margin-bottom:30px;
padding:0;
}
section.main aside {
width:33%;
float:left;
text-align:center;
}
section.main .content {
margin:15px;
background:no-repeat center top;
background-size:75px 75px;
padding-top:85px;
}
section.main aside h3 a {
color:#000;
text-decoration:none;
}
section.main aside h3 a:hover {
text-decoration:underline;
}
section.main aside .content.trending {
background-image:url(../images/icon_star.svg);
}
section.main aside .content.find-it {
background-image:url(../images/icon_marker.svg);
}
section.main aside .content.tool {
background-image:url(../images/icon_gear.svg);
}
section.atmosphere {
background-color:#c63;
padding:30px;
color:#fff;
}
section.atmosphere article {
padding:0 20px 0 515px;
background:url(../images/photo_lounge.jpg)no-repeat 0 5px;
min-height:220px;
}
section.how-to {
background-color:#eee9d9;
position:relative;
}
section.how-to aside {
width:30%;
float:left;
margin-right:10px;
}
section.how-to aside .content {
padding:30px 30px 20px 0;
}
section.how-to aside .content img {
display:block;
margin-bottom:15px;
width:70%;
}
section.how-to aside .content h4 {
margin-bottom:0;
}
section.how-to aside .content p {
margin-bottom:.5em;
}
section.how-to aside .content a {
display:inline-block;
color:#c63;
}
section.how-to blockquote {
margin:0;
width:32%;
color:#444;
background-color:#fff;
position:absolute;
bottom:0;
right:4%;
}
section.how-to blockquote p {
margin:30px 30px 20px 50px;
}
section.how-to blockquote p.quote {
font-style:italic;
font-size:1.2em;
}
section.how-to blockquote p.credit {
color:#777;
font-size:.9em;
margin-top:0;
padding-left:20px;
line-height:1.3em;
position:relative;
}
section.how-to blockquote::before {
content:'\201c';
color:#d2bd65;
position:absolute;
top:10px;
left:8px;
font-size:5em;
font-family:serif;
}
section.how-to blockquote p.quote::after {
content:'\201d';
font-family:serif;
}
section.how-to blockquote p.credit::before {
content:'\2014';
position:absolute;
top:-1px;
left:0;
}
nav {
background-color:rgba(0,0,0,.65);
position:absolute;
top:0;
left:0;
padding:50px 0 0;
width:100%;
}
nav::after {
content:'';
display:block;
clear:both;
}
nav ul {
list-style:none;
margin:0;
padding:0;
}
nav ul li:hover {
background-color:#2b0306;
}
nav ul li:hover > ul {
display:block;
}
nav ul li a {
display:inline-block;
color:#fff;
padding:10px 20px;
text-decoration:none;
width:125px;
position:relative;
}
nav ul li a:visited {
color:#fff;
}
nav ul li a:hover {
background-color:#6d0911;
}
nav ul ul {
position:absolute;
top:100%;
background-color:#2b0306;
display:none;
}
nav ul ul li {
position:relative;
}
nav ul ul ul {
left:100%;
top:0;
}
nav > ul {
padding-left:200px;
}
nav> ul >li {
float:left;
}
nav > ul > li > a {
width:auto;
padding:10px 20px 15px;
}
nav a[aria-haspopup=true]::after {
content:'';
display:block;
width:0;
height:0;
position:absolute;
top:16px;
right:15px;
border-top:4px solid transparent;
border-bottom:4px solid transparent;
border-left:4px solid #fff;
}
nav > ul > li > a[aria-haspopup=true]::after {
border-left:4px solid transparent;
border-right:4px solid transparent;
border-top:4px solid #fff;
left:20px;
right:auto;
bottom:6px;
top:auto;
}
footer {
font-size:.8em;
margin:40px;
color:#999;
}
footer .content {
display:inline;
}
footer a {
margin-left:30px;
color:#777;
}
footer a:visited {
margin-left:30px;
color:#777;
}
footer a:hover {
margin-left:30px;
color:#000;
}
@media screen and (max-width: 1000px) {
h1 {
font-size:2.4em;
}
header div.hero {
left:56%;
}
header div.hero h1 {
margin-bottom:20px;
}
section.atmosphere article {
padding-left:400px;
background-size:375px auto;
}
}
@media screen and (max-width: 825px) {
h1 {
font-size:2.2em;
}
header {
height:300px;
background-image:url(../images/banner_825.jpg);
}
header div.hero {
top:120px;
left:48%;
}
section.atmosphere article {
padding-left:325px;
background-size:300px auto;
}
section.how-to p.quote {
font-size:1.1em;
line-height:1.2em;
}
section.how-to p.credit {
font-size:.85em;
}
}
@media screen and (max-width: 760px) {
h1 {
font-size:1.8em;
}
h2 {
font-size:1.4em;
}
h3 {
font-size:1.1em;
}
a.btn {
font-size:1em;
}
header a.logo {
width:145px;
height:60px;
}
header div.hero {
margin-top:10px;
margin-bottom:48%;
}
section.main {
margin-top:10px;
margin-bottom:10px;
}
section.main aside div.content {
background-size:55px 55px;
padding-top:60px;
}
section.how-to aside div.content img {
width:85%;
}
nav {
padding-top:80px;
}
nav>ul {
padding-left:10px;
}
}
@media screen and (max-width: 625px) {
h1 {
font-size:1em;
}
h3 {
margin-bottom:0;
}
a.btn {
font-size:.9em;
}
header {
height:160px;
background-image:url(../images/banner_625.jpg);
background-position:left top;
}
header a.logo {
width:100%;
height:66px;
left:0;
top:0;
background-color:rgba(0,0,0,.65);
background-size:112px 46px;
background-position:20px center;
}
header div.hero {
width:300px;
top:85px;
left:130px;
}
header div.hero h1 {
margin-bottom:10PX;
}
section.main aside {
width:100%;
float:none;
text-align:left;
}
section.div aside div.content {
margin:8px 20px 8px 0;
padding:5px 0 10px 85px;
background-size:50px 50px;
background-position:20px 5px;
}
section.atmosphere article {
padding:160px 20px 0 0;
background-size:300px auto;
min-height:initial;
}
section.how-to aside {
width:100%;
float:none;
margin:0;
position:relative;
}
section.how-to aside div.content {
padding:20px 20px 20px 150px;
}
section.how-to aside div.content p {
font-size:.9em;
}
section.how-to aside div.content img {
display:inline-block;
width:125px;
position:absolute;
top:30px;
left:0;
}
section.how-to blockquote {
margin:0 20px 0 40px;
width:90%;
padding:1px 0 20px;
position:relative;
}
section.how-to blockquote p.credit {
margin-bottom:0;
}
nav {
position:static;
width:auto;
padding:20px 15px;
background-color:#4b0a0c;
}
nav ul,nav ul ul,nav ul ul {
display:block;
position:static;
}
nav > ul {
padding:0;
}
nav > ul > li {
float:none;
margin-top:25px;
}
nav ul li:hover {
background:none;
}
nav ul li a {
width:auto;
display:block;
margin:8px 10px;
padding:8px 15px;
border:1px solid rgba(255,255,255,.25);
}
nav ul li a:hover {
background-color:rgba(255,255,255,.2);
}
nav ul ul {
background:none;
}
nav ul ul li a {
margin-left:30px;
}
nav ul ul ul li a {
margin-left:60px;
}
nav a[aria-haspopup="true"]:after {
display:none;
}
footer div.content {
display:block;
margin-top:15px;
}
footer div.content a {
margin:0 20px 0 0;
}
}
@media screen and (max-width: 425px) {
header {
height:110px;
background-image:url(../images/banner_425.jpg);
}
header a.logo {
height:36px;
background:rgba(0,0,0,.65) url(../images/logo_small.svg) no-repeat center;
background-size:126px 17px;
}
header div.hero {
width:100%;
left:0;
top:46px;
text-align:center;
}
header div.hero h1 {
font-size:1em;
margin-bottom:10px;
}
header div.hero a.btn {
padding:2px 30px;
font-size:.8em;
}
header div.hero a.btn span {
display:none;
}
section.how-to aside div.content {
padding:140px 20px 20px 0;
}
section.how-to aside div.content img {
width:auto;
height:100px;
top:30px;
}
section.how-to blockquote {
margin:10px 40px 0 20px;
}
footer::after {
content:'';
display:block;
clear:both;
}
footer div.content a {
float:left;
margin:0 0 10px;
clear:both;
}
}

/*
@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap";
body{font-family:"open sans",sans-serif;font-size:16px;font-weight:300;color:#555;padding:0;margin:0;}
#page{max-width:1200px;margin:0 auto;position:relative;}
h1{margin:0 0 1em;font-size:2.8em;font-weight:700;}
h2{margin:0 0 .5em;font-size:1.6em;font-weight:700;line-height:1.1em;}
h3{margin:0 0 .5em;font-size:1.3em;font-weight:700;}
h4{margin:0 0 1.5em;font-size:1em;font-weight:700;}
p{margin:0 0 1em;}
a{color:#007eff;}
a:visited{color:#65b1ff;}
a.btn{font-size:1.2em;text-decoration:none;color:#fff;border:1px solid #fff;padding:4px 15px;transition:ease background-color .5s;}
a.btn:hover{background-color:rgba(0,0,0,.3);}
section::after{content:'';display:block;clear:both;}
header{height:430px;background:#cf0004 url(../images/banner_1200.jpg) no-repeat center bottom;position:relative;}
header a.logo{position:absolute;display:block;width:160px;height:66px;background:url(../images/logo.svg) no-repeat 0 0;background-size:contain;top:15px;left:20px;z-index:1;}
header a.logo span{display:none;}
header div.hero{position:absolute;width:42%;top:130px;left:55%;}
header div.hero h1{line-height:1em;margin:0 0 30px;color:#fff;}
section{padding:0 30px;}
section.main{margin-top:20px;margin-bottom:30px;padding:0;}
section.main aside{width:33%;float:left;text-align:center;}
section.main .content{margin:15px;background:no-repeat center top;background-size:75px 75px;padding-top:85px;}
section.main aside h3 a{color:#000;text-decoration:none;}
section.main aside h3 a:hover{text-decoration:underline;}
section.main aside .content.trending{background-image:url(../images/icon_star.svg);}
section.main aside .content.find-it{background-image:url(../images/icon_marker.svg);}
section.main aside .content.tool{background-image:url(../images/icon_gear.svg);}
section.atmosphere{background-color:#c63;padding:30px;color:#fff;}
section.atmosphere article{padding:0 20px 0 515px;background:url(../images/photo_lounge.jpg)no-repeat 0 5px;min-height:220px;}
section.how-to{background-color:#eee9d9;position:relative;}
section.how-to aside{width:30%;float:left;margin-right:10px;}
section.how-to aside .content{padding:30px 30px 20px 0;}
section.how-to aside .content img{display:block;margin-bottom:15px;width:70%;}
section.how-to aside .content h4{margin-bottom:0;}
section.how-to aside .content p{margin-bottom:.5em;}
section.how-to aside .content a{display:inline-block;color:#c63;font-weight:700;}
section.how-to blockquote{margin:0;width:32%;color:#444;background-color:#fff;position:absolute;bottom:0;right:4%;}
section.how-to blockquote p{margin:30px 30px 20px 50px;}
section.how-to blockquote p.quote{font-style:italic;font-size:1.2em;}
section.how-to blockquote p.credit{color:#777;font-size:.9em;margin-top:0;padding-left:20px;line-height:1.3em;position:relative;}
section.how-to blockquote::before{content:'\201c';color:#d2bd65;position:absolute;top:10px;left:8px;font-size:5em;font-family:serif;}
section.how-to blockquote p.quote::after{content:'\201d';font-family:serif;}
section.how-to blockquote p.credit::before{content:'\2014';position:absolute;top:-1px;left:0;}
nav{background-color:rgba(0,0,0,.65);position:absolute;top:0;left:0;padding:50px 0 0;width:100%;}
nav::after{content:'';display:block;clear:both;}
nav ul{list-style:none;margin:0;padding:0;}
nav ul li:hover{background-color:#2b0306;}
nav ul li:hover > ul{display:block;}
nav ul li a{display:inline-block;color:#fff;padding:10px 20px;text-decoration:none;width:125px;position:relative;}
nav ul li a:visited{color:#fff;}
nav ul li a:hover{background-color:#6d0911;}
nav ul ul{position:absolute;top:100%;background-color:#2b0306;display:none;}
nav ul ul li{position:relative;}
nav ul ul ul{left:100%;top:0;}
nav > ul{padding-left:200px;}
nav> ul >li{float:left;}
nav > ul > li > a{width:auto;padding:10px 20px 15px;}
nav a[aria-haspopup=true]::after{content:'';display:block;width:0;height:0;position:absolute;top:16px;right:15px;border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:4px solid #fff;}
nav > ul > li > a[aria-haspopup=true]::after{border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #fff;left:20px;right:auto;bottom:6px;top:auto;}
footer{font-size:.8em;margin:40px;color:#999;}
footer .content{display:inline;}
footer a{margin-left:30px;color:#777;}
footer a:visited{margin-left:30px;color:#777;}
footer a:hover{margin-left:30px;color:#000;}
@media screen and (max-width: 1000px) {
h1{font-size:2.4em;}
header div.hero{left:56%;}
header div.hero h1{margin-bottom:20px;}
section.atmosphere article{padding-left:400px;background-size:375px auto;}
}
@media screen and (max-width: 825px) {
h1{font-size:2.2em;}
header{height:300px;background-image:url(../images/banner_825.jpg);}
header div.hero{top:120px;left:48%;}
section.atmosphere article{padding-left:325px;background-size:300px auto;}
section.how-to p.quote{font-size:1.1em;line-height:1.2em;}
section.how-to p.credit{font-size:.85em;}
}
@media screen and (max-width: 760px) {
h1{font-size:1.8em;}
h2{font-size:1.4em;}
h3{font-size:1.1em;}
a.btn{font-size:1em;}
header a.logo{width:145px;height:60px;}
header div.hero{margin-top:10px;margin-bottom:48%;}
section.main{margin-top:10px;margin-bottom:10px;}
section.main aside div.content{background-size:55px 55px;padding-top:60px;}
section.how-to aside div.content img{width:85%;}
nav{padding-top:80px;}
nav>ul{padding-left:10px;}
}
@media screen and (max-width: 625px) {
h1{font-size:1em;}
h3{margin-bottom:0;}
a.btn{font-size:.9em;}
header{height:160px;background-image:url(../images/banner_625.jpg);background-position:left top;}
header a.logo{width:100%;height:66px;left:0;top:0;background-color:rgba(0,0,0,.65);background-size:112px 46px;background-position:20px center;}
header div.hero{width:300px;top:85px;left:130px;}
header div.hero h1{margin-bottom:10PX;}
section.main aside{width:100%;float:none;text-align:left;}
section.div aside div.content{margin:8px 20px 8px 0;padding:5px 0 10px 85px;background-size:50px 50px;background-position:20px 5px;}
section.atmosphere article{padding:160px 20px 0 0;background-size:300px auto;min-height:initial;}
section.how-to aside{width:100%;float:none;margin:0;position:relative;}
section.how-to aside div.content{padding:20px 20px 20px 150px;}
section.how-to aside div.content p{font-size:.9em;}
section.how-to aside div.content img{display:inline-block;width:125px;position:absolute;top:30px;left:0;}
section.how-to blockquote{margin:0 20px 0 40px;width:90%;padding:1px 0 20px;position:relative;}
section.how-to blockquote p.credit{margin-bottom:0;}
nav{position:static;width:auto;padding:20px 15px;background-color:#4b0a0c;}
nav ul,nav ul ul,nav ul ul{display:block;position:static;}
nav > ul{padding:0;}
nav > ul > li{float:none;margin-top:25px;}
nav ul li:hover{background:none;}
nav ul li a{width:auto;display:block;margin:8px 10px;padding:8px 15px;border:1px solid rgba(255,255,255,.25);}
nav ul li a:hover{background-color:rgba(255,255,255,.2);}
nav ul ul{background:none;}
nav ul ul li a{margin-left:30px;}
nav ul ul ul li a{margin-left:60px;}
nav a[aria-haspopup="true"]:after{display:none;}
footer div.content{display:block;margin-top:15px;}
footer div.content a{margin:0 20px 0 0;}
}
@media screen and (max-width: 425px) {
header{height:110px;background-image:url(../images/banner_425.jpg);}
header a.logo{height:36px;background:rgba(0,0,0,.65) url(../images/logo_small.svg) no-repeat center;background-size:126px 17px;}
header div.hero{width:100%;left:0;top:46px;text-align:center;}
header div.hero h1{font-size:1em;margin-bottom:10px;}
header div.hero a.btn{padding:2px 30px;font-size:.8em;}
header div.hero a.btn span{display:none;}
section.how-to aside div.content{padding:140px 20px 20px 0;}
section.how-to aside div.content img{width:auto;height:100px;top:30px;}
section.how-to blockquote{margin:10px 40px 0 20px;}
footer::after{content:'';display:block;clear:both;}
footer div.content a{float:left;margin:0 0 10px;clear:both;}
}

*/
