h1, h2, h3, h4, section.how-to aside .content a {
    font-weight:700;
}
h1 {
margin:0 0 1em;
font-size:2.8em;
}
h2 {
margin:0 0 .5em;
font-size:1.6em;
line-height:1.1em;
}
h3 {
margin:0 0 .5em;
font-size:1.3em;
}
h4 {
margin:0 0 1.5em;
font-size:1em;
}
p {
margin:0 0 1em;
}